body {
    background-image: url("space.jpg");
    color: rgba(20, 127, 250, 0.821);
}

h1 {
    text-align: right;
    color: red;
}

header {
    background-color: darkblue;
}

p {
    color: red;
}

a:hover{
    color:rgba(30, 121, 224, 0.821);
    text-decoration: none;
}

h2 {
    color: blue;
    text-decoration: underline;
}

h3 {
    background-color: aliceblue;
}

h6 {
    color:rgba(16, 127, 255, 0.853);
}

ul {
    background-color: aliceblue;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}