body {
    background-image: url("space.jpg");
    color:rgba(30, 121, 224, 0.821);
  }
  h1 {
    text-align: right;
    color: red;
  }
  p {
    color: red;
  }

  h2 {
    color: blue;
    text-decoration: underline;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: right;
  }